.gap-1{
    gap: 0.25rem;
}
.gap-2{
    gap: 0.5rem;
}
.gap-4{
    gap: 1rem;
}
.gap-6{
    gap: 1.5rem;
}
.gap-8{
    gap: 2rem;
}
.gap-10{
    gap: 2.5rem;
}
.gap-12{
    gap: 3rem;
}




