@import url('./properties/_gap.scss');
@import url('./properties/_width.scss');
@import url('./properties/_width.scss');
@import url('./components/_table.scss');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 100%;
    overflow-y: initial;
}

a {
    list-style: none;
    text-decoration: none;
}